#gridPane {
	-fx-background-color: #aeaeae;
	-fx-background-radius: 5;
	-fx-hgap: 10;
	-fx-vgap: 10;
	-fx-padding: 10;
}

#borderPaneImage {
	-fx-padding: 10;
	-fx-background-color: #eaeaea;
}

#borderPaneMain {
	-fx-padding: 10;
	-fx-background-color: #eaeaea;
}

#vboxMain {
	-fx-background-color: #eaeaea;
}
